.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  color: #000000;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.mounted {
    opacity: 1;
    transform: translateY(0);
  }

  .logo {
    width: 150px;
    height: 150px;
    animation: fadeIn 0.8s ease 0.2s forwards;
    opacity: 0;
    filter: brightness(100) invert(1);
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    min-height: 100vh;

    .title-container {
      opacity: 0;
      animation: fadeIn 0.8s ease 0.6s forwards;
    }

    .welcome-text {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.05em;
      color: #000;
    }

    .main-title {
      font-size: 48px;
      font-weight: 700;
      margin: 20px 0;
      opacity: 1;
      background: linear-gradient(
        90deg,
        #919191,
        #ff1616,
        #ff1616,
        #919191,
        #00adfe,
        #00adfe,
        #919191
      );
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientAnimation 2s linear infinite;
    }

    .subtitle {
      font-size: 27px;
      font-weight: 400;
      color: transparent;
      margin-top: 20px;
      font-weight: 600;
      background: linear-gradient(
        to right,
        #09ff15 0%,
        #006525 50%,
        #09ff15 100%
      );
      background-size: 200% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      animation: gradientScan 3s linear infinite, fadeIn 0.8s ease 1s forwards;
      opacity: 0;

      @keyframes gradientScan {
        0% {
          background-position: 200% 0;
        }

        100% {
          background-position: -200% 0;
        }
      }
    }

    .play-button {
      padding: 12px 32px;
      background-color: #ffffff;
      color: #1f2937;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      opacity: 0;
      font-size: 20px;
      animation: fadeIn 0.8s ease 1.2s forwards;

      &:hover {
        background-color: #e5e7eb;
      }
    }
  }

  .footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    align-items: center;
    bottom: 16px;
    left: 0px;
    font-size: 20px;
    gap: 10px;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 0.8s ease 1.4s forwards;

    .footer-left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a {
      color: #000000 !important;
      text-decoration: none;
      font-weight: 500 !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 768px) {
    .text-container {
      .main-title {
        font-size: 64px;
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: -100% center;
  }
}
